LDAP_ORGANISATION=Aseguridad Lab
LDAP_DOMAIN=cyber.lab
LDAP_BASE_DN=dc=cyber,dc=lab
LDAP_ADMIN_DN=cn=admin,dc=cyber,dc=lab
LDAP_ADMIN_PASSWORD=change_this_admin_password
LDAP_URL=ldaps://ldap.cyber.lab:636

TOKEN_SECRET_KEY=replace_with_openssl_rand_hex_32
TOKEN_EXPIRATION_MINUTES=15

SMTP_HOST=mailhog
SMTP_PORT=1025
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=no-reply@cyber.lab
SMTP_USE_STARTTLS=false
SMTP_USE_SSL=false
